<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/cssCDN') %>
    <title>Blogs</title>
</head>
<body>
    <%- include('../partials/navbar.ejs',{user}) %>
    <% if (blogs.length===0) { %>
        <h2>Welcome,<%- user.fullName%>! You have not made any blogs yet.</h2>
    <% }else{ %>
        <h2>Hey,<%- user.fullName%>! Your have made <%=blogs.length%> blogs till now.</h2>
    <div class="d-flex flex-row flex-wrap justify-content-center align-items-center m-4">
        
        <% blogs.forEach((blog,index) => {%>
            <%- include('../partials/card.ejs',{blog,index:(blogs.length-index)}) %>
        <%}) %>

    </div>    
    

    <%}%> 
    
    
    <%- include('../partials/scriptCDN') %>
</body>
</html>